#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

code {
	background-color: #111;
}

.search-filter {
	padding: 25px;
}

.no-books {
	padding-top: 15px;
	margin: auto;
}

.card-item {
	text-align: start;
	margin-left: 5px;
}
